@page
@model EZYSoft.Pages.ForgetPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Forgot Password</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Input.Email">Enter your email address:</label>
                    <input type="email" asp-for="Input.Email" class="form-control" required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Send Reset Link</button>
            </form>
        </div>
    </div>
</div>